In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("data/task1_1_1.csv", encoding="gbk")
data2 = pd.read_csv("data/task1_1_2.csv", encoding="gbk")
data3 = pd.read_csv("data/task1_1_3.csv", encoding="gbk")

In [3]:
# data1和data2建立联系
data1.head()

   Index  CardNo Sex   Major  AccessCardNo
0      1  180001   男  18国际金融      19762330
1      2  180002   男  18国际金融      20521594
2      3  180003   男  18国际金融      20513946
3      4  180004   男  18国际金融      20018058
4      5  180005   男  18国际金融      20945770

In [4]:
data2.head()

,CardNo,Date,Money,FundMoney,Surplus,CardCount,Type,TermNo,OperNo,Dept,Time
0,181316,2019/4/20,3.0,0.0,186.1,818,消费,49,235,第一食堂,20:17
1,181316,2019/4/20,0.5,0.0,199.5,814,消费,63,27,第二食堂,08:47
2,181316,2019/4/22,0.5,0.0,183.1,820,消费,63,27,第二食堂,07:27
3,181317,2019/4/21,3.5,0.0,50.2,211,消费,196,133,好利来食品店,07:46
4,181317,2019/4/19,2.5,0.0,61.7,209,消费,146,48,好利来食品店,22:31